/* RESET DEFAULT RULES */
html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    display: block;
    max-width: 100%;
}

.main {
    position: relative;
}

/* NAVBAR DESKTOP */

.desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.313rem;
    width: 100%;
}

.desktop .logo {
    font-family: "Roboto-Regular", sans-serif;
    line-height: 1.6;
    text-decoration: none;
    color: #4A4A4A;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin-left: 1.875rem;
}

.links-desktop {
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin-right: 1.875rem;
}

.links-desktop a {
    font-family: "Roboto-Regular", sans-serif;
    line-height: 1.6;
    text-decoration: none;
    color: #4A4A4A;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.6rem;
}

/* NAVBAR MOBILE */

.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;

}

.links-mobile {
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin-right: 1.875rem;
}


.links-mobile a {
    text-decoration: none;
    color: #4A4A4A;
    padding: 0.5rem;
    margin: 0.6rem;
}

.join {
    background-color: #9DC20B;
    color: white;
    padding: 0.2rem;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

/* Banner */

.banner {
    display: flex;
    background-image: url("images/banner-landingpage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Desktop Banner */

.desktop-banner {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #9DC20A;
    border: 1px solid #979797;
    border-radius: 4px;
    margin-top: 10.625rem;
    margin-bottom: 10.625rem;
    margin-left: 6.25rem;
    width: 34.375rem;
    height: 21.875rem;
}

.desktop-banner h2 {
    color: white;
    font-size: 1.563rem;
    font-family: serif;
    font-weight: 200;
    line-height: 1.4;
    margin-top: 2rem;
}

.desktop-banner h1 {
    color: white;
    font-size: 3.125rem;
    font-family: "Rubik-Regural", sans-serif;
    font-weight: 300;
    line-height: 1.4;
}

.desktop-banner p {
    color: white;
    font-size: 1.25rem;
    font-family: "Rubik-Regural", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    margin-top: 0.938rem;
}

.desktop-banner button {
    width: 25rem;
    height: 3.75rem;
    background-color: #4A4A4A;
    color: white;
    font-size: 1.25rem;
    font-family: "Roboto-Medium", sans-serif;
    border-radius: 0.25rem;
    margin-bottom: 2.5rem;
    margin-top: 1.875rem;
    
}

/* Mobile Banner */

.mobile-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.mobile-banner h2 {
    color: white;
    font-size: 2rem;
    font-family: serif;
    font-weight: 200;
    line-height: 1.4;
}

.mobile-banner h1 {
    color: white;
    font-size: 3.75rem;
    font-family: "Rubik-Regural", sans-serif;
    font-weight: 300;
    line-height: 1.4;
}


/* Featured */

#features-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem 5%;
    background-color: #f3f3f3;
    border: 2px solid black;
}

.feature {
    flex: 1;
    padding: 2rem;
    margin: 0 1.25rem;
    background-color: white;
}

.feature .image-container {
    width: 90%;
    height: 65%;
    margin: 0 auto;
}

.feature .content {
    padding: 1rem 0;
}

.feature h2 {
    padding: 0.2rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: #4a4a4a;
    min-width: 3rem;
    font-family: "Roboto Bold", sans-serif;
}

.feature h3 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 300;
    color: #4a4a4a;
    margin-top: 0.5rem;
    min-width: 3rem;
    font-family: "Roboto Light", sans-serif;
}

/* Gallery */

.gallery {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    background-color: #4a4a4a;
}

.images-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 0 1%;
}

.gallery .content {
    padding: 0 0.625rem;
    margin-bottom: 4rem;
}

.gallery .content h2 {
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
    font-family: "Roboto Bold", sans-serif;
}

.gallery .content h3 {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 300;
    color: white;
    font-family: "Roboto Light", sans-serif;
}


/* Quotes */

#quotes-section {
    background-color: #f3f3f3;
}

#quotes-section .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 1.5rem;
}

#quotes-section .quote {
    padding-right: 1.875rem;
    font-family: "Palatino", serif;
    font-size: 1.875rem;
    line-height: 1.1;
    font-style: italic;
    color: #4a4a4a;
}

#quotes-section .quote-citation {
    height: 1.875rem;
}

/* Footer */

footer {
    background-color: #9b9b9b;
    padding: 1.5rem 2rem;
}

footer .content {
    color: white;
    display: flex;
    font-size: 0.75rem;
}

footer .copyright {
    flex-grow: 1;
}


/* Media Rule DESKTOP */
@media (min-width: 800px) {
    .mobile {   /* Custom navbar for desktop */
        display: none;
    }
    .mobile-banner {    /* Custom banner for desktop */
        display: none;
    }
}


/* Media Rule MOBILE */
@media only screen and (max-width: 600px) {
    .desktop {  /* Custom navbar for mobile */
        display: none;
    }
    .desktop-banner {
        display: none; /* Custom banner for mobile */
    }
    .banner {      /* Custom height for banner background for mobile */
        height: 25rem;
    }
}